<p>Contenu de inclus.html.twig</p>
{% if test is defined %}
    <p>inclus.html.twig a accès à la variable test</p>
{% endif %}

{% if foo is defined %}
    <p>inclus.html.twig a accès à la variable foo</p>
{% endif %}
